# Mac Os
.DS_Store
.Spotlight-V100
.Trashes
21sh
tests/tmp/*

# Visual Studio code
*.vscode/

# C extensions
#  Object files
*.o
#  Shared object
*.so

# Libraries
*.a

# Exe
*.exe
*.app

# Debug files
*.dSYM
*.swp

# For testing
leaks.txt
